<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSUserDefaultsUsageDescription</key>
    <string>We need access to your user preferences to implement certain features.</string>
    
	<key>UILaunchScreen</key>
	<dict>
        <key>UIImageName</key>
        <string>icon_small.png</string>
	</dict>
<!--    <key>UILaunchStoryboardName</key>-->
<!--    <string>LaunchScreen.storyboard</string>-->
</dict>
</plist>
